/* LAYOUT */
body {
  padding: .5rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
  margin-bottom: 1rem;
}

header svg {
  width: 1rem;
  height: 1rem;
}

footer {
  margin-top: 1rem;
  padding-top: .5rem;
  width: 100%;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #ccc;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 16px;
}

li {
  margin-bottom: .5rem;
}

code {
  display: block;
  background-color: #f3f3f3;
  padding: 5px;
  margin-top: 5px;
  font-size: 12px;
  overflow-x: auto;
}

#accessiblity-report {
  background-color: #f3f3f3;
  border-radius: .25rem;
  padding: 1rem;
  border: 1px solid #ccc;
  position: relative;
}

div.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  margin-top: 1rem;
}

div.btn-container button {
  min-width: 0;
}

button {
  font-size: 14px;
  padding: .5rem 1rem;
  border: 1px solid #ebebeb;
  border-radius: .25rem;
  background-color: #ebebeb;
  color: #222;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s ease;
  gap: .5rem;
}

button.link {
  background-color: transparent;
  padding: .5rem;
  border: none;
}

button:hover {
  background-color: #dcdcdc;
}

.d-none {
  display: none;
}
