body {
  font-family: sans-serif;
  padding: 1rem;
  font-size: 14px;
}

h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 15px;
}

code {
  display: block;
  background-color: #f3f3f3;
  padding: 5px;
  margin-top: 5px;
  font-size: 12px;
  overflow-x: auto;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  min-width: 300px;
}

.d-none {
  display: none;
}
