#accessiblity-report>button.accessiblity-report--btn#rerun {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

header > div.title {
  display: flex;
  align-items: center;
  gap: .5rem;
}

button > svg {
  width: 14px;
  height: 14px;
}

button.accessiblity-report--btn#rerun > svg {
  width: 1rem;
  height: 1rem;
}

div.btn-container button#run,
div.btn-container button#report {
  grid-column: span 2;
}
