#accessibility-report>button.accessibility-report--btn#rerun {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

header > div.title {
  display: flex;
  align-items: center;
  gap: .5rem;
}

button > svg {
  width: 14px;
  height: 14px;
}

button.accessibility-report--btn#rerun > svg {
  width: 1rem;
  height: 1rem;
}

div.btn-container button#run,
div.btn-container button#report {
  grid-column: span 2;
}

#accessibility-report .accessibility-report--content {
  display: grid;
  gap: .5rem;
}

#accessibility-report .accessibility-report--content .accessibility-report--content-violations {
  border-top: 1px solid #ccc;
  padding: .5rem 0;
  display: grid;
  gap: .5rem;
}

#accessibility-report .accessibility-report--content > p.violations.error > strong {
  color: #d9534f;
}

#accessibility-report .accessibility-report--content > p.violations.warning > strong {
  color: #f0ad4e;
}

/* LOADING */
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

div#loading:not(.d-none) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div#loading .lds-circle,
div#loading .lds-circle div {
  box-sizing: border-box;
}
div#loading .lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
div#loading .lds-circle > svg {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin: .25rem;
  animation: lds-circle 5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
/* LOADING */
